canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
}

.social {
    height: 5em;
    background: #272e32;
    border-radius: 15%;
    padding: 0.5em;
}

.portrait {
    border-radius: 35%;
    width: 12em;
}

.main {
    z-index: 99;
}